<div class="container">
   <div class="object-details">
      <h1>Object Technological card</h1>
        <p><strong>card_ID: </strong>{{selectedTechCard._id}}</p>
        <p><strong>Detail Name: </strong>{{selectedTechCard.detailName}}</p>
        <p><strong>Process Type Name: </strong>{{selectedTechCard.processTypeName}}</p>
        <p><strong>Duration: </strong>{{selectedTechCard.duration}}</p>
        <p><strong>Creation Date: </strong>{{selectedTechCard.creationDate}}</p>
        <p><strong>Description: </strong>{{selectedTechCard.description}}</p>
        <a href="/edit/{{selectedTechCard._id}}" class="edit-button">Edit</a>
    </div>
</div>